@media (max-width: 992px) {
    .saidbar {
        display: none;
    }
}


@media (max-width: 576px) {
    .main {
        .content {
            .new_post {

                padding: 0 15px;

                .input_box {
                    input {
                        font-size: 12px;
                    }

                    .func_boxes {
                        gap: 10px;
                    }
                }
            }
        }
    }
}